*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins"; sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../assets/Login\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 420px;
    color: white;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

